#wrapper {
    margin-top: 80px;
}
#map {
    width: 100%;
    height: 100vh;
    background: #FFF;
    padding: 0;
    border-color: #cfcfcf;
    border-width: 1px 0;
    border-style: solid;
    overflow: none;
}
#map address {
    font-style: normal;
}
#map-info {
    line-height:1.35;
    overflow:hidden;
    white-space:nowrap;
}
#map-info img {
    max-width: 250px;
}
#map-info .addr-section {
    margin-top: 10px;
}
.gmnoprint img {
    max-width: none; 
}
